/* div{ */
    /* background-color: rgb(8, 232, 42); */
    /* height: 100vh; */
    /* background-image: url(../Image/ocean-3605547_1280.jpg); */
/* }
P{background-color: rgba(255,200,0, 0.1);
height: 90vh;} */
div{ 
    height: 100vh;
    background-color: #C40DAC;
}