/* div{border: 1px solid black;
min-width: 250px;}
(inline into inline block)
span{ border: 1px solid black;
display: inline-block;
min-width: 250px}

(block into inline block) */
/* span{ border: 1px solid black;
display: inline-block;
min-width: 250px;} */




p{border: 1px solid black;
max-width: 500px;}