*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color:pink ;
     
    */
    background-image: url(../Image/vijay\ baby.jpg) ;
    background-position: center;
    background-image: no-repeat;
}
div>h1{
    color: yellow;
}
